
// RESIZE HANDLE : 

$handle-rect-size: 100px;

.resize-handle-rect{
    position: absolute;
    width: $handle-rect-size;
    height: $handle-rect-size; 
    border: 1px solid var(--color-c);
    box-sizing: border-box;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    z-index: 100;
    opacity: 0;
}

// HANDLE : 

$handle-size: 5px;
$handle-outside: -4px;

.handle-top-center{
    position: absolute;
    width: $handle-size;
    height: $handle-size;
    border: 1px solid var(--color-c); 
    background: var(--color-b);
    top: $handle-outside;
    cursor: s-resize;
}

.handle-top-left{
    position: absolute;
    width: $handle-size;
    height: $handle-size;
    border: 1px solid var(--color-c);
    background: var(--color-b);
    top: $handle-outside;
    left: $handle-outside;
    cursor: nw-resize;
}

.handle-top-right{
    position: absolute;
    width: $handle-size;
    height: $handle-size;
    border: 1px solid var(--color-c);
    background: var(--color-b);
    top: $handle-outside;
    right: $handle-outside;
    cursor: sw-resize;
}

.handle-left-center{
    position: absolute;
    width: $handle-size;
    height: $handle-size;
    border: 1px solid var(--color-c);
    background: var(--color-b);
    left: $handle-outside;
    cursor: w-resize;
}

.handle-bottom-left{
    position: absolute;
    width: $handle-size;
    height: $handle-size;
    border: 1px solid var(--color-c);
    background: var(--color-b);
    left: $handle-outside;
    bottom: $handle-outside;
    cursor: sw-resize;
}

.handle-bottom-center{
    position: absolute;
    width: $handle-size;
    height: $handle-size;
    border: 1px solid var(--color-c);
    background: var(--color-b);
    bottom: $handle-outside;
    cursor: s-resize;
}

.handle-bottom-right{
    position: absolute;
    width: $handle-size;
    height: $handle-size;
    border: 1px solid var(--color-c);
    background: var(--color-b);
    bottom: $handle-outside;
    right: $handle-outside;
    cursor: nw-resize;
}

.handle-right-center{
    position: absolute;
    width: $handle-size;
    height: $handle-size;
    border: 1px solid var(--color-c);
    background: var(--color-b);
    right: $handle-outside;
    cursor: w-resize;
}

// RESIZE HANDLE GLOBAL : 

.resize-handle{
    &:active{
        background: var(--color-f) !important;
    }
}

// ANCHOR POINT : 

.anchor-point{
    position: absolute;
    font-size: $icon-size;
    color: var(--color-c);
    &:active{
        color: var(--color-b);
    }
}

// ROTATION HANDLE : 

.rotation-handle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    i{
        position: absolute;
        color: var(--color-c);
        font-size: $icon-size  + 3px;
        display: none;
        text-rendering: geometricPrecision;
    }
    &:active{
        cursor: none;
        i{
            color: var(--color-b);
        }
    }
    &:hover{
        i{
            display: flex;
        }
    }

};

.rotation-handle-right{
    right: -23px;
};

.rotation-handle-left{
    left: -23px;
};

.rotation-handle-top{
    top: -23px;
};

.rotation-handle-bottom{
    bottom: -23px;
};

#divtestb{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 200px;
    top: 200px;
    // background-image: url('https://opengameart.org/sites/default/files/player_19.png');
    // background-size: cover;
};