
// SIMPLE FILE VIEWER : 

#simple-file-viewer{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    background: var(--color-f);
    // border: 5px solid var(--color-f);
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: $inside-tab-gap;
    gap: $inside-tab-gap;
    .simple-preview-container{
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid var(--color-f);
        background-size: 35px;
        background-repeat: repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: zoom-in;
        background-image: url("../asset/alpha-background/alpha-background.png");
        background-size: 250px;
        image-rendering: pixelated;
        #simple-preview-container-zoom-area{
            position: absolute;
            width: 150px;
            height: 150px;
            border: 1px dashed var(--color-c);
            z-index: 3;
        }
    }
    .simple-menu-container{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        height: 35px;
        background: var(--color-d); 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 1px;
        button{
            position: relative;
            background: none;
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            @include click();
            i{ 
                position: absolute;
                font-size: $icon-size;
                color: var(--color-c);
                margin-top: 1px; 
            }
        }
        span{
            position: relative;
            font-family: $app-font;
            font-size: $text-1x;
            font-weight: initial;
            color: var(--color-c);
        }
    }
    .simple-image-preview{
        position: absolute;
        height: 70%;
        -webkit-user-drag: none;
    }
    #simple-file-name{
        position: absolute;
        bottom: 10px;
        font-family: $app-font;
        font-size: $text-1x;
        font-weight: initial;
        color: var(--color-c);
        z-index: 10;
        background: #00000063;
        padding: 5px;
        padding-left: 7px;
        padding-right: 7px;
        border-radius: 50px;
    }
}