











// UI SPLITTER : 

$splitter-color: var(--color-c);
$splitter-scale: $ui-container-gap;
$vertical-splitter-width: $splitter-scale;
$horizontal-slitter-height: $splitter-scale;

.vertical-splitter{
    position: relative;
    height: 100%;
    width: $vertical-splitter-width;
    box-sizing: border-box;
    // background: red;
    cursor: col-resize;
    min-width: $vertical-splitter-width;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: $ui-container-gap solid var(--color-e);
    border-bottom: $ui-container-gap solid var(--color-e);
    &:active{
        background: $splitter-color;
    }
}

.horizontal-splitter{
    position: relative;
    width: 100%;
    height: $horizontal-slitter-height;
    box-sizing: border-box;
    // background: var(--color-e);
    cursor: row-resize;
    min-height: $horizontal-slitter-height;
    display: flex;
    justify-content: center;
    align-items: center;
    &:active{
        background: $splitter-color;
    }
}