










// TOOLTIP : 

#tooltip{
    position: absolute;
    width: auto;
    height: auto;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border: 1px solid var(--color-f);
    background: var(--color-e);
    padding: 3px;
    gap: 3px;
    z-index: 99999;
    left: 400px;
    top: 300px;
    .tooltip-icon{
        position: relative;
        font-size: $icon-size;
        color: var(--color-c);
        margin-top: 1px;
    }
    #tooltip-info{
        position: relative;
        font-family: $app-font;
        font-weight: initial;
        font-size: $text-1x;
        color: var(--color-c);
    }
}