


:root{

    --color-a-t: #0000003f;
    --red-color: #A71919;
    
    // DARK THEME : 
    // --color-c: #D9D9D9;
    // --color-d: #161616;
    // --color-e: #1E1E1E; 
    // --color-f: #111111;
    
    // LIGHT THEME : 
    --color-a: #27AAE1;
    --color-b: #E74A99;
    --color-c: #262626;
    --color-d: #E9E9E9;
    --color-e: #EEEEEE;
    --color-f: #cacaca;

    // LIGHT NATURE : 
    // --color-a: #0F1F17;
    // --color-b: #163126;
    // --color-c: #214737;
    // --color-d: #A7E8C3;
    // --color-e: #D8F8E5;
    // --color-f: #F2FFF7;

    // LIGH AGENDA : 
    // --color-a: #111827;
    // --color-b: #1F2937;
    // --color-c: #374151;
    // --color-d: #9CA3AF;
    // --color-e: #D1D5DB;
    // --color-f: #F9FAFB;

    // LIGHT NOTBOOK :
    // --color-a: #1F2937;
    // --color-b: #374151;
    // --color-c: #4B5563;
    // --color-d: #D1D5DB;
    // --color-e: #E5E7EB;
    // --color-f: #F3F4F6;

    // DARK PINK THEME :
    // --color-c: #dbdbdb;
    // --color-d: #30373F;
    // --color-e: #3D444A;
    // --color-f: #15191C;

};

$ui-border: 1px solid #0C0C0C; 

